 <% if user_signed_in? %>
 	<h1>You're logged in!</h1>
 <% else %>

	 <div class="row">

	    <div class="hero-unit">

	      <h1>Welcome to One Month Rails!</h1>

	      <p class="lead">
					Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
				</p>

				<p class="p-center">
					<%= link_to "Sign Up Now!", new_user_registration_path, class:"btn btn-primary btn-large"%>
				</p>
	    
	    </div>
  </div>

<% end %>

