@import 'bootstrap';

$btnPrimaryBackground: green;

body {
	padding-top: 20px;
}

.hero-unit{
	background: 000;
	h1 {
		font-size: 72px;
		line-height: 1;
		text-align: center;
	}
}

.p-center {
	text-align: center;
}

.lead {
		margin-top: 10px;
	}

.container-narrow{
	margin: 0 auto;
	max-width: 700px;
}

@import 'bootstrap-responsive';

.footer{

	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}

hr {
	margin-top: 30px;
}