
<div class="container-narrow">

	<ul class="nav nav-pills pull-right">
	  <li class="active">
	    <%= link_to "Home", root_path %>
	  </li>
	  <li><%= link_to "About Us", about_path %></li>
	  <li><%= link_to "Login", '#' %></li>
	</ul>

	<h3 class="muted">One Month Rails</h3>

	<hr>

</div>